.button-menu {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 32px;
    right: 30px;
    gap: 10px;
    z-index: 300;
}

.fixed-button {
    width: 56px;
    height: 56px;
    color: #fff;
    cursor: pointer;
    background-color: #424a4d;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: background-color .25s ease-in-out;
    display: flex;


    &:hover {
        background-color: rgba(66, 74, 77, 0.869);
    }
}

.fixed-button i {
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    display: none;
    opacity: 0;
    visibility:hidden;
    transition: var(--transition);
    pointer-events: none;
}

.buttons.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    display: flex;
}


.buttons-content {
    position: relative;

}

.buttons-content a {
    width: 56px;
    height: 56px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #eef1f1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: background-color .25s ease-in-out;
    display: flex;
    transition: var(--transition);


    &:hover {
        color: #fff;
        background-color: var(--light-blue);
    }
}

.buttons a i {
    font-size: 24px;
}

.buttons-contact-text {
    position: absolute;
    right: 68px;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
    background-color: #424a4d;
    padding: 8px 12px;
    text-wrap: nowrap;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
}

.buttons-content:hover .buttons-contact-text {
    opacity: 1;
    visibility: visible;
}






  
